/* CSS for entire portfolio */
* {
    background-color: #6495ED;
}

/* CSS for index portion of portfolio */
#index {
    position: relative;
    top: 1px;
    left: 0px;
    
    background-color: #20B2AA;
    height: 218px;
    width: 170px;
    border: 5px solid #B0E0E6;
    border-radius: 5px;
    margin: left;
    text-align: center;
}

#index tr {
    color: #20B2AA;
    background-color: #20B2AA;
    border: 1px solid #20B2AA;
}
#index td {
    background-color: #20B2AA;
    height: 60px;
    padding: 0px 0px 0px 0px;
    vertical-align: top;
}

.image {
    border-radius: 1000px;
    position: relative;
    top: 20px;
    width:100px;
    height: 100px;
    border: 2px dotted white;
}

a > #hover_image {
    display: none;
}

a:hover > #hover_image {
    display: block;
}

#hover_image{
    height: 0px;
    width: 105px;
    position: relative;
    top: -107px;
}



#experience {
    position: relative;
    left: -5px;
    top: -5px;
}

#languages {
    position: relative;
    left: -10px;
    top: 0px;
}

#languagerow {
    position: relative;
    width: 130px;
    left: 0px;
    top: -25px;
}

#formal_education {
    position: relative;
    left: -10px;
    top: 0px;
}

#educationrow {
    position: relative;
    width: 130px;
    left: 0px;
    top: -40px;
}

#freelancing{
    position: relative;
    left: -10px;
    top: 0px;
}

#freelancingrow{
    position: relative;
    width: 130px;
    left: 0px;
    top: -55px;
}

#projects{
    position: relative;
    left: -20px;
    top: -70px;
}

#websites {
    position: relative;
    left: -10px;
    top: 0px;
}

#websitesrow {
    position: relative;
    width: 130px;
    left: 0px;
    top: -85px;
}

#software {
    position: relative;
    left: -10px;
    top: 0px;
}

#softwarerow {
    position: relative;
    width: 130px;
    left: -0px;
    top: -100px;
}

/* what should happen when you hover over the index?
#index:hover {
  background-color: red;
}
*/

#index a:link {
    background-color: #20B2AA;
    color: black;
}

#index a:visited {
    background-color: #20B2AA;
    color: black;
}

#index li a:hover {
    background-color: #20B2AA;
    color: red;
}

#index h2 a:hover {
    background-color: #20B2AA;
    color: blue;
}

#index h2 {
    background-color: #20B2AA;
    color: black;
    font-style: normal;
    font-family: Arial;
    font-weight: bold;
}

#index ul {
    background-color: #20B2AA;
    color: black;
}

#index li {
    background-color: #20B2AA;
    font-stlye: italic;
    font-family: cursive;
    font-weight: normal;
    text-align: left;
}

/* heading class for two major portions of portfolio */
.heading1 {
  color: black;
  font-weight: bold;
  font-style: normal;
  font-family: Arial;
  text-align: center;
}

.heading2 {
    
}