/* CSS for entire portfolio */
* {
  background-color: #6495ED;
}

/* CSS for index portion of portfolio */
#index {
  background-color: white;
  height: 18em;
  width: 10em;
  border: 2px solid black;
  border-radius: 5px;
  margin: left;
  text-align: center;
}

/* what should happen when you hover over the index?
#index:hover {
  background-color: red;
}
*/
#index a:visited {
    background-color: white;
    color: black;
}

#index a:link {
    background-color: white;
    color: black;
}

#index body a:hover {
    background-color: yellow;
    color: red;
}

#index h2 {
    background-color: white;
    color: black;
    font-style: normal;
    font-family: Arial;
    font-weight: bold;
}

#index ul {
    background-color: white;
    color: black;
}

#index li {
    background-color: white;
    font-stlye: italic;
    font-family: cursive;
    font-weight: normal;
    text-align: left;
}

/* CSS for experience portion of portfolio */
#Experience h1 {
  color: black;
  font-weight: bold;
  font-style: normal;
  font-family: Arial;
  text-align: center;
}

